[user]
	name = Josh Vaughen
[includeIf "gitdir:~/Git/personal/"]
    path = ~/.gitconfig-personal
[includeIf "gitdir:~/Git/work/"]
    path = ~/.gitconfig-work
[core]
	excludesfile = ~/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = ~/.stCommitMsg
[github]
    user = jshvn